* {
  margin: 0;
  padding: 0;
}

.content-app {
  height: 100%;
  width: 100%;
  color: #d4f2fd;
}

.dancing-script-title {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 28px;
  color: #38bdf8;
}