@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

* {
  margin: 0;
  padding: 0;
}

.content-app {
  height: 100%;
  width: 100%;
  color: #d4f2fd;
}

// Multi Carousel
.slick-slider {
  max-width: 100%; 
  margin: 0 auto;
}
.slick-list {
  width: 532px; 
  overflow: hidden;
}

.slick-slide {
  width: 133px !important;
  height: 240px;
}

.slick-slide .p-4 {
  padding: 0;
}

.story-container {
  position: relative;
  width: 100%;
  height: 100%;
  height: 240px; 
  overflow: hidden;
  border-radius: 0.5rem;
}

.story-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story-info {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: flex;
  align-items: center;
}

.story-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  border: 2px solid white;
  margin-right: 0.5rem;
}

.slick-prev, .slick-next {
  width: 48px;
  height: 48px;
  background-color: rgb(110, 110, 110);
  border-radius: 100%;
  padding-top: 2px;
}

.slick-next {
  right: 10%;
  z-index: 9;
}
.slick-prev {
  left: 10%;
  z-index: 9;
}

.slick-prev::before, .slick-next::before {
  width: 24px;
  height: 24px;
  color: rgb(208, 208, 208);
}

.slick-prev:hover, .slick-next:hover {
  background-color: rgb(135, 135, 135);
}

.slick-disabled{
    display: none;
    opacity: 0;
}

.create-story-btn {
  width: 35px;
  height: 35px;
  background-color: cyan;
  border-radius: 100%;
  text-align: center;
  font-size: larger;
}



.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.me-social {
  color:  rgb(2 132 199);
  font-size: 30px;
  font-weight: 550;
}


// .content-css {
//   .post-owner {
//     margin-right: 8px;
//     font-weight: 600;
//     color: #38bdf8;
//   }
//   .description {
//     color: gray;
//   }
// }