@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

* {
  margin: 0;
  padding: 0;
}

.content-app {
  height: 100%;
  width: 100%;
  color: #d4f2fd;
}

// Multi Carousel
.slick-slider {
  max-width: 100%; 
  margin: 0 auto;
}
.slick-list {
  width: 604px; 
  overflow: hidden;
}

.slick-slide {
  width: 121px !important;
  height: 200px;
}

.slick-slide .p-4 {
  padding: 0;
}

.story-container {
  position: relative;
  width: 100%;
  height: 200px; 
  overflow: hidden;
  border-radius: 0.5rem;
}

.story-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story-info {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.story-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  border: 2px solid rgb(0, 157, 255);
  margin-right: 0.5rem;
}

.slick-prev, .slick-next {
  width: 48px;
  height: 48px;
  background-color: rgb(110, 110, 110);
  border-radius: 100%;
  padding-top: 2px;
}

.slick-next {
  right: 10%;
  z-index: 2;
}
.slick-prev {
  left: 10%;
  z-index: 2;
}

.slick-prev::before, .slick-next::before {
  width: 24px;
  height: 24px;
  color: rgb(208, 208, 208);
}

.slick-prev:hover, .slick-next:hover {
  background-color: rgb(135, 135, 135);
}

.slick-disabled{
    display: none;
    opacity: 0;
}

.create-story-btn {
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  text-align: center;
}



.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.me-social {
  color:  rgb(2 132 199);
  font-size: 30px;
  font-weight: 550;
}

// For SuggestFriends
.scrollbar-hidden {
  overflow: hidden;
}

.scrollbar-visible:hover {
  overflow: auto;
}

.scrollbar-visible::-webkit-scrollbar {
  width: 8px; 
}

.scrollbar-visible::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

.scrollbar-visible::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); 
}